
.issueTicketBody{
    display: flex;
    flex-direction: column;
}

#specialist{
    transition: transform .2s;
}

#specialist:hover{
    transform: scale(1.1);
}

/* Portrait */
@media only screen
and (min-device-width: 350px)
and (max-device-width: 736px)
and (orientation: portrait) {
    .issueTicketBody{
        font-size: xx-large;
        width: 100%;
    }

    #date{
        font-size: medium;
    }

}